.class-answer-green{
	background-color: lightgreen;
}

.class-answer-red{
	background-color: lightcoral;
}

.class-answer-yellow{
	background-color: darkkhaki;
}

p{
	margin: 5px;
	padding-left: 3px;
}