<!-- Red dot for debugging -->
<span [ngStyle]="setPointStyle()" *ngIf="debugOn" id="id-pointer">&#11044;</span>

<!-- Util panel -->
<div id="id-div-util">
  <input type="button" [disabled]="!(connectionStatus==rxStompStates.CLOSED)" (click)="onButtonConnectClick()" value="Connect"/>
  <input type="button" [disabled]="!(connectionStatus==rxStompStates.OPEN)" (click)="onButtonDisconnectClick()" value="Disconnect"/>
  <span [ngClass]="setConnectionStatusClass()">&#11044;</span>
  <br>
  <input type="checkbox" [(ngModel)]="debugOn"/>
  <p>Debug</p>
</div>

<div class="container-fluid">

  <!-- Header -->
  <div class="row">
    <div id="id-div-header" class="col-12">
      <h1>Добродошли {{username}}</h1>
    </div>
  </div>

  <!-- Questions -->
  <div class="row">
    <app-question *ngFor="let question of questions" [question]="question" [debugOn]="debugOn" class="col-12">

    </app-question>
  </div>

  <!-- End -->
  <div class="row">
    <div id="id-div-end" class="col-12">
      <input type="button" value="End" (click)="onClickEnd()" />
    </div>
  </div>

</div>
